 .contact {
     @extend %p-rel,
     %of-hidden;

     &__wrapper {
         @extend %p-rel;
         z-index: 2;
     }

     &__info {
         background-color: $brand-color;
         border-radius: 16px;
         padding: 32px 24px;

         @include breakpoint(xl) {
             padding: 56px 40px;
         }

         h3 {
             @extend %mb-40;
             color: $white-color;

         }
     }

     &__address {
         @extend %d-grid,
         %pt-40,
         %mt-30;
         gap: 1rem;
         border-top: 1px solid rgba(#ffffff, 0.1);
         ;

         &-item {
             h4 {
                 @extend %text-medium,
                 %mb-15;
                 color: $white-color;
             }

             p {
                 color: $white-color;
                 max-width: 20ch;
             }

         }
     }

     &__form-wrapper {
         @extend %p-30;
         border-radius: 24px;
         background-color: $bg-color;

         @include breakpoint(md) {
             padding: 40px;
         }

         @include breakpoint(lg) {
             padding: 60px;
         }
     }

     &__form-title {
         @extend %mb-30;
     }

     &__item {
         @extend %mb-15;

         &-inner {
             @extend %d-flex,
             %align-i-center;
             gap: 16px;

         }

         &-thumb {
             @extend %d-grid,
             %place-i-center;
             @include box(55px);
             border-radius: 50%;
             background: rgba(#073439, 0.4);

             span {
                 height: auto;
                 width: auto;
             }
         }

         &-content {
             color: $white-color;

             span {
                 @extend %mb-0;
                 font-size: $fs-small;
             }

             p {
                 @extend %text-medium;
                 font-family: $title-font;
                 font-size: $fs-h5;
             }
         }
     }

     &__form {
         textarea {
             min-height: 120px;
         }

     }

     &__shape {
         &-item {
             @extend %p-abs;

             &--1 {
                 width: 30px;
                 top: 65%;
                 left: 35%;
                 z-index: 2;
                 @include animation(left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                 @include breakpoint(sm) {
                     width: 70px;
                     top: 6%;
                     left: 65%;
                 }

                 @include breakpoint(md) {
                     max-width: 40px;
                     top: 4%;
                     left: 73%;
                 }

                 @include breakpoint(lg) {
                     max-width: 100%;
                     top: 65%;
                     left: 35%;
                 }


                 @include breakpoint(xxxl) {
                     top: 68%;
                     left: 38%;
                 }
             }

             &--2 {
                 content: "";
                 height: 92%;
                 width: 920px;

                 border: 2px solid var(--bg-grad-color-2);
                 padding: 40px;
                 border-bottom-left-radius: 25%;
                 top: 0%;
                 right: -3%;
                 transform: rotate(-10deg);
                 opacity: 0.4;
                 display: none;

                 @include breakpoint(md) {
                     display: block;
                     height: 109%;
                     width: 570px;
                     top: -9%;
                     right: -5%;
                 }

                 @include breakpoint(lg) {
                     height: 109%;
                     width: 800px;
                     top: -9%;
                     right: -15%;
                 }

                 @include breakpoint(xl) {
                     width: 900px;
                     top: -12%;
                     right: -6%;
                 }

                 @include breakpoint(xxl) {
                     width: 1000px;
                     top: -12%;
                     right: -6%;
                 }

                 @include breakpoint(xxxl) {
                     width: 1200px;
                     top: -14%;
                     right: -2%;
                 }


                 span {
                     position: absolute;
                     content: "";
                     height: 96%;
                     width: 700px;
                     background: linear-gradient(219deg, var(--bg-grad-color-trans-2) 0%, var(--bg-grad-color-2) 100%);
                     border-bottom-left-radius: 25%;
                     top: 5%;
                     right: -1%;


                     @include breakpoint(md) {
                         height: 97%;
                         width: 550px;
                         top: 0%;
                         right: -1%;
                     }

                     @include breakpoint(lg) {
                         height: 97%;
                         width: 780px;
                         top: 0%;
                         right: -1%;
                     }

                     @include breakpoint(xl) {
                         width: 880px;
                         top: 0%;
                         right: -1%;
                     }

                     @include breakpoint(xxl) {
                         width: 980px;
                         top: 0%;
                         right: -1%;
                     }

                     @include breakpoint(xxxl) {
                         width: 1180px;
                         top: 0%;
                         right: -1%;
                     }
                 }
             }
         }
     }


 }