.feature {
  @extend %p-rel,
  %of-hidden;

  &--style1 {
    .feature {
      @extend %p-rel,
      %of-hidden;

      &__wrapper {
        @extend %p-rel;
        z-index: 2;
      }

      &__item {
        &-content {

          h6 {
            @extend %mb-0,
            %text-capitalize,
            %text-semibold;
            @include font-size(18px);
            color: $text-color;
            font-family: $text-font;
          }
        }
      }

      &__image {
        img {
          border-radius: 20px;
        }
      }

      &__thumb {
        position: relative;
        z-index: 2;
      }

      &__shape {
        &-item {
          @extend %p-abs;

          &--1 {
            width: 50px;
            top: 5%;
            left: 71%;
            z-index: 2;
            @include animation(left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

            @include breakpoint(sm) {
              width: 70px;
              top: 6%;
              left: 65%;
            }

            @include breakpoint(md) {
              max-width: 75px;
              top: 13%;
              left: 50%;
            }

            @include breakpoint(lg) {
              max-width: 100%;
              top: 19%;
              left: 46%;
            }

            @include breakpoint(xl) {
              top: 19%;
              left: 50%;
            }

            @include breakpoint(xxl) {
              top: 19%;
              left: 50%;
            }
          }

          &--2 {
            content: "";
            height: 92%;
            width: 920px;

            border: 2px solid var(--bg-grad-color);
            padding: 40px;
            border-bottom-left-radius: 25%;
            top: 0%;
            right: -3%;
            transform: rotate(-10deg);
            display: none;

            @include breakpoint(md) {
              display: block;
              width: 570px;
              top: -8%;
              right: -24%;
            }

            @include breakpoint(lg) {
              width: 570px;
              top: -10%;
              right: -4%;
            }

            @include breakpoint(xl) {
              height: 100%;
              width: 725px;
              top: -12%;
              right: -4%;
            }

            @include breakpoint(xxl) {
              width: 1000px;
              top: -12%;
              right: -15%;
            }

            @include breakpoint(xxxl) {
              width: 1000px;
              top: -12%;
              right: -4%;
            }


            span {
              position: absolute;
              content: "";
              height: 96%;
              width: 700px;
              background: linear-gradient(219deg, var(--bg-grad-color-trans) 0%, var(--bg-grad-color) 100%);
              border-bottom-left-radius: 25%;
              top: 5%;
              right: -1%;


              @include breakpoint(md) {
                width: 550px;
                top: 0%;
                right: -1%;
              }

              @include breakpoint(lg) {
                width: 550px;
                top: 0%;
                right: -1%;
              }

              @include breakpoint(xl) {
                height: 97%;
                width: 700px;
                top: 0%;
                right: -1%;
              }

              @include breakpoint(xxl) {
                width: 980px;
                top: 0%;
                right: -1%;
              }
            }
          }
        }
      }
    }
  }

  &--style2 {
    .feature {
      &__item {
        &-inner {
          @include add-prefix(transition, $transition);
          background-color: $body-color;
          padding: 16px;
          border-radius: 8px;
        }

        &-thumb {
          margin-block-end: 24px;
        }

        &-content {
          h5 {
            @extend %mb-10,
            %text-clamp-1;
          }

          p {
            @extend %mb-10;
          }
        }

        &:hover {
          transform: translateY(-10px);
          cursor: pointer;
        }

      }


      &__shape {

        &-item {
          @extend %p-abs;

          &--1 {
            width: 40px;
            top: 1%;
            left: 6%;
            @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

            @include breakpoint(sm) {
              width: 80px;
              top: 3%;
              left: 7%;
            }

            @include breakpoint(md) {
              top: 8%;
              left: 3%;
            }

            @include breakpoint(lg) {
              width: auto;
              top: 15%;
              left: 2%;
            }

            @include breakpoint(xl) {
              top: 15%;
              left: 2%;
            }

            @include breakpoint(xxl) {
              top: 15%;
              left: 8%;
            }

            @include breakpoint(xxxl) {
              top: 15%;
              left: 19%;
            }
          }
        }

      }
    }

  }

}


.featured-categories {

  &__item {
    &-inner {
      max-width: 140px; // Reduzir largura máxima
      padding-block: 32px; // Reduzir padding vertical
      background-color: $bg-color;
      border-radius: 12px;
      transition: $transition;
      text-align: center;

      svg {
        margin-bottom: 12px; // Reduzir margem
        height: 32px; // Reduzir tamanho do ícone (era 50px)

        path {
          fill: $title-color;
          transition: $transition;

        }
      }

      h4 {
        font-size: 14px; // Reduzir tamanho da fonte
        font-weight: 400; // Diminuir peso da fonte (era bold)

        a {
          transition: $transition;
          font-weight: 400; // Diminuir peso
        }

      }

      &:hover,
      &.active {
        background-color: $title-color; // Fundo preto Keepit (#1E1E1E)

        a {
          color: $white-color;
        }

        svg {
          path {
            fill: $white-color; // Ícone branco
          }
        }
      }
    }

  }

  &__thumb {
    @extend %d-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  &--style2 {

    @include breakpoint(lg) {
      padding-top: 0;
    }

    .featured-categories {
      &__wrapper {
        @extend %p-rel;
        border-radius: 24px;
        background-color: $white-color;
        box-shadow: 0px 8px 16px rgba(3, 23, 41, 0.08);
        margin-top: -50px;
        padding: 16px 18px;
        z-index: 99;

        @include breakpoint(lg) {
          padding: 32px 56px;
        }
      }

      &__slider {

        &-prev {
          @extend %p-abs;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 999;

          @include breakpoint(lg) {
            left: -25px;
          }
        }

        &-next {
          @extend %p-abs;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99;

          @include breakpoint(lg) {
            right: -25px;
          }
        }
      }
    }
  }
}


.feature-bar {
  @extend %of-hidden;
  padding-block: 40px;
}