.testimonial {
    @extend %of-hidden;

    &__wrapper {
        @extend %p-rel;
    }

    &__slider,
    &__slider2 {
        @extend %pb-40;
    }

    &__item {
        &-content {
            p {
                @include add-prefix(transition, $transition);
            }
        }

        &--style1 {
            .testimonial {
                &__item {
                    &-inner {
                        @extend %p-40;
                        @include add-prefix(transition, $transition);
                        background-color: $bg-color-2;
                        border: 2px solid transparent;
                        border-radius: 16px;

                        &:hover {
                            border: 1px solid $border-color;
                        }
                    }
                }
            }
        }


        &:hover {
            .testimonial {
                &__item {
                    &-inner {
                        box-shadow: 0px 16px 40px rgba(153, 161, 172, 0.12);
                    }
                }

                &__quote {

                    i,
                    svg {
                        opacity: 1;
                    }
                }
            }
        }



    }

    &__footer {
        @extend %d-flex,
        %align-i-center,
        %justify-between,
        %mt-30;

        @include breakpoint(xl) {
            margin-top: 32px;
        }

    }

    &__author {
        @extend %d-flex,
        %align-i-center;
        gap: 15px;

        &-thumb {
            img {
                border-radius: 99px;
                max-width: 60px;
            }

        }

        &-designation {
            @extend %p-rel;
            h6 {
                @extend %mb-0;
                line-height: 1.1;
            }

            p {
                @extend %mb-0,
                %text-medium;
                @include font-size(18px);
                line-height: 1.15;
                color: $title-color;
            }

            span {
                @include font-size(14px);
                color: $title-color;
                opacity: 0.8;
            }

            &::before{
                @extend %p-abs;
                content: url(/images/testimonial/leaf.png);
                top: 0;
                right: -300px;
            }

        }
    }

    &__quote {
        span {

            i,
            svg {
                @include font-size(40px);
                @include add-prefix(transition, $transition);
                color: $brand-color;
                opacity: 0.5;
            }
        }
    }


}